<ion-content>
  <div class="oval-container">
    <app-back-component [backPath]="this.backPath"></app-back-component>
  </div>
  <div class="container mt-3">
    <div [innerHTML]="formattedContent"></div>

    <div class="row">
      <div class="col-12">
        <h6>Links to Reffer</h6>
      </div>
      <div class="col-12" *ngFor="let eachLink of this.thirdpartyLinks">
        <a href="#" (click)="onClickOpenLink(eachLink.link)">{{ eachLink.link }}</a>
      </div>
    </div>
  </div>
</ion-content>