<ion-content>
  <div class="oval-container">
    <button class="btn btn-primary btn-sm mt-3 l-profile-btn"> + Create Learning Profile</button>
  </div>
  <div class="container">
    <h4>All Learning Profiles</h4>

    <div class="card learning-profile-card">
      <div class="card-body">
        <h6>Introduction to Neural Networks</h6>

        <div class="row">
          <div class="col-5">
            <p>Modules: 10</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card learning-profile-card">
      <div class="card-body">
        <h6>Microservices Architecture</h6>

        <div class="row">
          <div class="col-5">
            <p>Modules: 5</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
