.oval-container {
    background-color: blueviolet;
    height: 20vh;
    border-bottom-left-radius: 50%;
}

.l-profile-btn {
    background-color: white; 
    border-color: white;
    color: black;
    float: right;
    margin-right: 5px;
}

.learning-profile-card {
    padding-top: 10px; 
    padding-bottom: 5px; 
    border-radius: 20px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-bottom: 10px;
}