
<ion-content>
  <div class="container-fluid d-flex flex-column justify-content-between align-items-center text-center h-100">
    <div class="image-section mt-5">
      <img src="../../../../assets/images/7809566.jpg" alt="Checklists Image" class="img-fluid">
    </div>
  
    <div class="slider-text">
      <h4 id="slider-text">Let's keep plans and dreams</h4>
      <p id="slider-description">Add places and events that inspire you to your favorites. You will need them on your next trip.</p>
      <div class="dots mt-3">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  
    <div class="row mb-5">
      <div class="col-12">
        <button class="btn btn-primary btn-sm" style="width: 300px; height: 50px;" (click)="onClickGetStart()">Get Started</button>
      </div>
    </div>
  </div>
  
</ion-content>
