<ion-content>
  <div class="container-fluid p-0">
    <!-- Top Bar -->
    <nav class="navbar navbar-light bg-light justify-content-between p-3">
      <span class="navbar-text">👋 Hello {{ this.homeDataList.firstName }}</span>
      <div class="navbar-brand">
        <img src="../../../../assets/images/pngtree-education-logo-with-shape-of-student-who-wear-a-orange-hat-png-image_4046738.png" width="30" height="30" class="d-inline-block align-top rounded-circle"
          alt="User Avatar">
      </div>
    </nav>
  
    <div class="m-3">
      <div class="d-flex">
        <!-- <img src="https://via.placeholder.com/1200x400.png?text=Learning+Made+Easy" class="img-fluid rounded" alt="Learning Made Easy" style="width: 100%;"> -->
        <img src="../../../../assets/images/26430325.jpg" class="img-fluid rounded" alt="Learning Made Easy" style="width: 100%;">
      </div>
    </div>
  
    <!-- Teacher Recommendations Section -->
    <div class="m-3">
      <h5 class="mb-3">Trending Subjects</h5>
      <div class="d-flex overflow-auto">
        <div class="card me-3" style="min-width: 120px;" *ngFor="let eachSubject of this.homeDataList.trendingSubjects">
          <img src="{{ eachSubject.subjectImage }}" class="card-img-top rounded-circle mx-auto mt-3" style="width: 50px;"
            alt="Anika Rahman">
          <div class="card-body text-center">
            <h6 class="card-title">{{ eachSubject.subjectName }}</h6>
            <p class="card-subtitle text-muted">{{ eachSubject.subjectDescription }}</p>
            <small class="text-muted">1591 students</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Notice Display Section -->
  <div class="card m-3">
    <div class="card-header">
      <h6>Notices</h6>
    </div>
    <div class="card-body">
      <div class="notice mb-3" *ngFor="let eachNotice of this.homeDataList.notices">
        <!-- <h6 class="mb-1">Holiday Announcement</h6> -->
        <p class="mb-0">A{{ eachNotice.message }}</p>
        <small class="text-muted">Posted on August 1st, 2024</small>
        <hr>
      </div>
    </div>
  </div>
  </div>
</ion-content>