<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom" style="padding-top: 10px;" id="testYYU" >
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <p>Home</p>
      </ion-tab-button>
      <ion-tab-button tab="learning">
        <ion-icon name="wallet"></ion-icon>
        <p>Learning</p>
      </ion-tab-button>
      <ion-tab-button tab="live-chat">
        <ion-icon name="book"></ion-icon>
        <p>Spport</p>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <p>Profile</p>
      </ion-tab-button>
      <ion-tab-button tab="privacy">
        <ion-icon name="document-lock"></ion-icon>
        <p>Privacy</p>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
